body {
    width: 99%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 50%;
    background-color: #0ab131;
    height:450px;
    padding: 20px;
    box-sizing: border-box;
    border:solid;
    border-color: #06c1a2;
    border-radius: 0px;
}

.block h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(7, 0, 36);
}

.block h2 span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 10px;
}

.block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

.block li span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}

.block li span::before {
    content: "\2022";
    margin-right: 5px;
}

@media (max-width: 992px) {
    .container {
        flex-wrap: wrap;
    }
    .block {
        width: 50%;
        margin-bottom: 0px;
    }
}

@media (max-width: 576px) {
    .block {
        width: 100%;
    }
}
